/*
 * @Author: xiongjian 
 * @Date: 2018-04-29 19:27:21 
 * @Last Modified by:   xiongjian 
 * @Last Modified time: 2018-04-29 19:27:21 
 */

.cate-select{
    width: 200px;
    margin-right: 15px;
    display: inline-block;
}