/*
* @Author: Rosen
* @Date:   2018-01-31 14:26:54
 * @Last Modified by: xiongjian
 * @Last Modified time: 2018-04-29 19:31:16
*/
.opear{
    margin-right: 5px;
}

.search-wrap{
    margin-bottom: 20px;
    .form-group{
        margin-right: 10px;
    }
}
.page-header-right {
    float: right;
}